.post-detail-header {
  width: 100%;
  padding: 13px 0;
  background: $white;

  .post-header-inner {
    @include container;
    @include flex-arrange(space-between);
  }

  .post-owner {
    @include font-style(2.8rem, $gray800, 700);
  }

  .recent {
    @include flex-arrange;
    gap: 12px;

    p {
      font-size: 18px;
    }

    &::after {
      content: '';
      @include flex-arrange;
      margin: 0 28px;
      width: 1px;
      height: 28px;
      background: $gray200;
    }
  }

  .post-infomation {
    @include flex-arrange;
  }

  .iconlist {
    @include flex-arrange(flex-start);
    margin-right: 8px;

    ul {
      @include flex-arrange;
      gap: 8px;
    }

    button {
      margin-left: 2px;
      padding: 6px;
      background: none;
    }
  }

  .post-add-emoji {
    @include flex-arrange;

    &::after {
      content: '';
      @include flex-arrange;
      margin: 0 28px;
      width: 1px;
      height: 28px;
      background: $gray200;
    }
  }
}
