.post-detail-header {
  width: 100%;
  padding: 13px 0;
  background: $white;

  .post-header-inner {
    @include container;
    @include flex-arrange(space-between);
  }

  .post-owner {
    @include font-style(2.8rem, $gray800, 700);
    position: relative;
  }

  .recent {
    @include flex-arrange;
    gap: 12px;

    p {
      font-size: 18px;
    }

    &::after {
      content: '';
      @include flex-arrange;
      margin: 0 28px;
      width: 1px;
      height: 28px;
      background: $gray200;
    }
  }

  .post-infomation {
    @include flex-arrange;
  }

  .iconlist {
    @include flex-arrange(flex-start);
    margin-right: 8px;

    ul {
      @include flex-arrange;
      gap: 8px;
    }

    button {
      margin-left: 2px;
      padding: 6px;
      background: none;
    }
  }

  .post-add-emoji {
    @include flex-arrange;

    &::after {
      content: '';
      @include flex-arrange;
      margin: 0 28px;
      width: 1px;
      height: 28px;
      background: $gray200;
    }
  }

  .post-delete {
    margin-left: 20px;

    button {
      @include flex-arrange;
      border-radius: 8px;
      width: 92px;
      height: 40px;
      background: $error;
      @include font-style(1.6rem, $white, 400);
      cursor: pointer;
    }
  }

  @media (max-width: 1024px) {
    .recent {
      display: none;
    }
  }

  // 모바일 뷰포인트 전환 기준 512나 특수로 깨지는 부분 선점
  @media (max-width: 675px) {
    padding: 8px 0;

    .post-header-inner {
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    .post-owner {
      @include font-style(1.8rem, $gray800, 700);
      width: 100%;
      padding: 4px 24px 12px;
      border-bottom: 1px solid $gray200;
      margin-bottom: 12px;
    }

    .post-infomation {
      width: 100%;
      padding: 0 24px;
      justify-content: space-between;
    }

    ul {
      grid-template-columns: 1fr;
    }

    .post-add-emoji {
      width: 100%;
      justify-content: flex-end;
      &::after {
        margin: 0 15px;
      }
    }
  }
}
