@mixin flex-arrange($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-style($size, $color: $black, $weight: 500) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 12px;
  }

  @media (max-width: 768px) {
    padding: 0 24px;
  }
}

@mixin container-720 {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 12px;
  }

  @media (max-width: 768px) {
    padding: 0 24px;
  }
}

@mixin border-circle {
  border-radius: 999px;
}

@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
