$white: #ffffff;
$black: #020202;

$gray100: #f6f6f6;
$gray200: #eeeeee;
$gray300: #cccccc;
$gray400: #999999;
$gray500: #555555;
$gray600: #4a4a4a;
$gray700: #3a3a3a;
$gray800: #2b2b2b;
$gray900: #181818;
