$white: #ffffff;
$black: #020202;

$surface: #f6f8ff;

$purple100: #f8f0ff;
$purple200: #ecd9ff;
$purple300: #dcb9ff;
$purple400: #c894fd;
$purple500: #ab57ff;
$purple600: #9935ff;
$purple700: #861dee;
$purple800: #6e0ad1;
$purple900: #5603a7;

$gray100: #f6f6f6;
$gray200: #eeeeee;
$gray300: #cccccc;
$gray400: #999999;
$gray500: #555555;
$gray600: #4a4a4a;
$gray700: #3a3a3a;
$gray800: #2b2b2b;
$gray900: #181818;
