:root {
  --swiper-navigation-color: #020202;
}

.swiper-button-disabled {
  visibility: hidden;
}

.ql-formats .ql-header.ql-picker,
.ql-toolbar .ql-formats button.ql-clean {
  display: none;
}

.ql-toolbar.ql-snow .ql-formats:first-child {
  margin-right: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'pretendard', sans-serif;
  box-sizing: border-box;
  letter-spacing: -0.02em;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  outline: 0;
  border: 0;
}

textarea,
input {
  border: 0;
  outline: 0;
  font-family: 'pretendard', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: unset;
  font-size: unset;
}
