.main-header {
  border-bottom: 1px solid $gray300;
}

.main-header-inner {
  @include container;
  @include flex-arrange(space-between);
  padding: 16px 0;

  @media (max-width: 1248px) {
    padding: 12px 24px;
  }

  button {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid $gray300;
    background: $white;
    cursor: pointer;
    @include font-style(1.6rem, $gray900);

    &:hover {
      background: $gray100;
    }
  }

  img {
    vertical-align: middle;
  }
}
