.main-wrap {
  padding-top: 60px;
}

.main-content {
  @include container;
  @include flex-arrange(space-between, flex-start);
  gap: 150px;
  padding: 60px 0px 60px 60px;
  border-radius: 16px;
  background: $surface;

  strong {
    padding: 6px 12px;
    background: $purple600;
    @include font-style(1.4rem, $white, 700);
    @include border-circle;
  }

  h2 {
    @include font-style(2.4rem, $gray900, 700);
    margin: 16px 0 8px;
    line-height: 150%;
  }

  p {
    @include font-style(1.8rem, $gray500, 400);
  }

  .main-image {
    max-width: 640px;

    img {
      width: 100%;
    }
  }
}
