.main-wrap {
  @include container;
  margin-top: 60px;
}

.main-content {
  border-radius: 16px;
  background: $surface;

  &.main-point01 {
    @include flex-arrange(space-between, flex-start);
    gap: 150px;
    padding: 60px 0px 60px 60px;
    margin-bottom: 30px;

    .main-image {
      max-width: 640px;

      img {
        width: 100%;
      }
    }
  }

  &.main-point02 {
    @include flex-arrange(flex-start, flex-start);
    padding: 60px 192px 60px 0px;

    .main-image {
      max-width: 470px;
      margin: 0 125px;

      img {
        width: 100%;
      }
    }
  }

  strong {
    padding: 6px 12px;
    background: $purple600;
    @include font-style(1.4rem, $white, 700);
    @include border-circle;
  }

  h2 {
    @include font-style(2.4rem, $gray900, 700);
    margin: 16px 0 8px;
    line-height: 150%;
  }

  p {
    @include font-style(1.8rem, $gray500, 400);
  }
}

.main-button {
  margin-top: 48px;
  text-align: center;
}

@media (max-width: 1024px) {
  .main-content {
    flex-wrap: wrap;
    @include flex-arrange;

    &.main-point01,
    &.main-point02 {
      padding: 40px;
      gap: 36px;

      .main-image {
        max-width: 350px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-wrap {
    br {
      display: none;
    }
  }
  .main-content {
    &.main-point01,
    &.main-point02 {
      .main-image {
        max-width: 100%;
        text-align: center;
      }
    }

    &.main-point02 {
      .main-image {
        order: 1;
      }
    }
  }
}
