.icon-button {
  @include flex-arrange;
  gap: 4px;
  background: transparent;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid $gray300;
  background: $white;
  transition: 0.2s all;

  span {
    @include font-style(1.6rem, $black, 500);
  }

  &:hover {
    background: $gray100;
  }

  @media (max-width: 512px) {
    padding: 6px 8px;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      display: none;
    }
  }
}
