.sender-wrap {
  display: flex;
  img {
    width: 28px;
    height: 28px;
    @include border-circle;
    border: 2px solid $white;
    margin-left: -12px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.rest-count {
  padding: 6px;
  min-width: 28px;
  font-size: 1.2rem;
  background: $white;
  @include border-circle;
  @include flex-arrange;
  margin-left: -12px;
  border: 1px solid #e3e3e3;
}
