.post-message-content {
  @include container-720;
  padding-top: 50px;

  h2 {
    @include font-style(2.4rem, $black, 700);
  }

  input {
    margin-top: 12px;
    width: 100%;
  }

  p {
    padding-top: 5px;
    @include font-style(1.6rem, $gray500, 400);
  }
}

.button-area {
  @include container-720;
  padding-top: 70px;
}
