.post-detail-cards {
  @include container;
  padding: 120px 0;

  & > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    & > li {
      border-radius: 16px;
      background: $white;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
      min-height: 280px;
    }
  }

  .add-new {
    height: 100%;
    @include flex-arrange;
  }

  .card {
    padding: 28px 24px 24px;
  }

  @media (max-width: 1200px) {
    padding: 92px 24px;
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 512px) {
    padding-top: 32px;

    ul {
      grid-template-columns: 1fr;
    }
  }
}
