.profile-select {
  @include flex-arrange(flex-start);
  gap: 20px;
  padding-top: 16px;

  .now-selected {
    img {
      @include border-circle;
      width: 80px;
      vertical-align: bottom;
    }
  }

  .profile-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      @include font-style(1.6rem, $gray500, 400);
      padding-bottom: 12px;
    }

    .selected {
      background: #222;
      .profile-image {
        opacity: 0.7;
      }
    }

    ul {
      display: flex;
      gap: 4px;

      li {
        width: 56px;
        height: 56px;
        @include border-circle;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        .check {
          @include position-center;
          width: 16px;
          z-index: 1;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .profile-list {
      ul {
        flex-wrap: wrap;
        li {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
